<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand font-monospace" href="{{ '/' | relative_url }}">{{ site.first_name }} {{ site.last_name }}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% for link in site.data.navigation %}
                    {% if link.children %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-monospace" href="#" role="button" data-bs-toggle="dropdown">
                                {{ link.title }}
                            </a>
                            <ul class="dropdown-menu">
                                {% for child in link.children %}
                                    {% if child.divider %}
                                        <li><hr class="dropdown-divider"></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link font-monospace {% if page.url == link.url %}active{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
