<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    {% if page.coi_script %}<script src="{{ page.coi_script | relative_url }}"></script>{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ page.description | default: site.description }}" />
    <title>{% if page.title and page.title != false %}{{ page.title }} - {% endif %}{{ site.first_name }} {{ site.last_name }}</title>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/site-theme.css' | relative_url }}">
</head>

<body class="{{ page.body_class | default: '' }}">
    {% include custom-navbar.liquid %}

    {{ content }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelectorAll('.navbar-nav .nav-link').forEach(link => {
            link.addEventListener('click', () => {
                const navbarCollapse = document.querySelector('.navbar-collapse');
                if (navbarCollapse && navbarCollapse.classList.contains('show')) {
                    new bootstrap.Collapse(navbarCollapse).hide();
                }
            });
        });
    </script>
</body>
</html>
